body{
    height: 98vh;
    width: 97vw;
}

.wrapper{
    text-align: center;
    display: grid;
    width: 99vw;
    height: 97vh;
    grid-template-rows: 100px 100px auto 100px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    border-radius: 15px;
}

header{
    grid-area: header;
    font-size: x-large;
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-right: solid black 2px;
    background-color: skyblue;
    overflow: hidden;
}

nav{
    grid-area: nav;
    border-bottom: solid black 2px;
    border-left: solid black 2px;
    border-right: solid black 2px;
    background-color: skyblue;
    overflow: hidden;
}

nav > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    font-size: x-large;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

a:link{
    color: blue;
}

a:visited{
    color: blue;
}

a:focus{
    color: purple;
}

a:hover{
    color: purple;
}

a:active{
    color: red;
}

main{
    grid-area: main;
    display: grid;
    font-size: large;
}

.img{
    text-align: center;
    margin: 0 auto;
    height: 50vh;
}

footer{
    grid-area: footer;
}

.färgtabell{
    border: solid black 1px;
    border-collapse: collapse;
    width: 30vw;
    height: 60vh;
    margin: auto;
}

.blue{
    background-color: blue;
    width: 10vw;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.black{
    background-color: black;
    width: 10vw;
}

.green{
    background-color: green;
    height: 20vh;
}