body{
    height: 98vh; /*Sätter höjden av sidan till 98vh*/
    width: 99vw; /*Sätter bredden av sidan till 99vw*/
    background-color: skyblue /*Ändrar bakgrundsfärg på sidan till 'skyblue'*/
}

.wrapper{
    text-align: center; /*Centrerar all text som står inuti klassen 'wrapper'*/
    display: grid; /**/
    width: 99vw;
    height: 98vh;
    grid-template-rows: 100px 100px auto auto;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

header{
    grid-area: header; /**/
    font-size: x-large; /*Ändrar storleken av texten inom listan till 'x-large'*/
    border: solid black 2px; /*Skapar en svart färgad border som är 2 pixlar tjock*/
    border-top-right-radius: 15px; /*Rundar av borden längst uppe till höger så att det är en 1/4 av en cirkel med radien 15 pixlar*/
    border-top-left-radius: 15px; /*Rundar av borden längst uppe till vänster så att det är en 1/4 av en cirkel med radien 15 pixlar*/
    border-bottom: none; /*Tar bort delen av border som är på botten*/
    background-color: rgb(0, 206, 235);
    overflow: hidden; /*Gömmer allting inom border som spiller utanför den*/
}

nav{
    grid-area: nav;
    border: solid black 2px;
    border-bottom-left-radius: 15px; /*Rundar av borden längst nere till vänster så att det är en 1/4 av en cirkel med radien 15 pixlar*/
    border-bottom-right-radius: 15px; /*Rundar av borden längst nere till höger så att det är en 1/4 av en cirkel med radien 15 pixlar*/
    border-top: none; /*Tar bort delen av border som är på toppen*/
    background-color: rgb(0, 206, 235);
    overflow: hidden;
}

nav > ol{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*Anger bredden på listans kolumner till 1 fraction, när alla 3 listelement är 1fr så blir alla 1/3 breda*/
    list-style: none; /*Ändrar punkten som indikerar nästa artikel i listan, när den är 'none' tar den bort punkten helt*/
    font-size: x-large; 
    padding: 0; /*Sätter padding på listan till 0, detta tar bort all padding*/
    margin: 0;
}

main{
    grid-area: main;
    display: grid;
    font-size: large;
}

section > ul{
    display: grid;
    grid-template-rows: 1fr 1fr;
    list-style: none;
    font-size: larger; 
    padding: 0;
    margin: 0;
}

footer{
    grid-area: footer;
}

a:link{
    color: blueviolet; /*Ändrar färgen av alla linkar till 'blueviolet'*/
}

a:visited{
    color: blueviolet; /*Ändrar färgen av alla länkar som klickats till 'blueviolet'*/
}

a:focus{
    color: purple; /*Ändrar färgen av länkar som står i fokus (när man klickar Tab) till 'purple'*/
}

a:hover{
    color: purple; /*Ändrar färgen av länker som musen svävar över toöö 'purple'*/
}

a:active{
    color: blue; /*Ändrar färgen av länkar till 'blue' när de klickas*/
}

#imgTeknikum{
    text-align: center;
    margin: 0;
    height: 50vh;
}

.imgNova{
    text-align: center;
    margin: 0;
    height: 60vh;
}

table, th, td{
    border: solid black 1px;
    padding: 8px;
    margin: auto;
    border-collapse: collapse; /*Kollapsar den yttre borden, det finns 2 av default runt tabeller men om man sätter 'collapse' så försvinner den*/
    table-layout: fixed;
    width: 150px;
}

.lag{
    text-align: left;
}

.plats{
    width: 75px;
}

tr:nth-child(1){
    background-color: rgb(39, 168, 67);
}

tr:nth-child(2), tr:nth-child(4), tr:nth-child(6), tr:nth-child(8), tr:nth-child(10), tr:nth-child(12), tr:nth-child(14){
    background-color: rgba(0, 153, 0, 0.363);
}

tr:nth-child(3), tr:nth-child(5), tr:nth-child(7), tr:nth-child(9), tr:nth-child(11), tr:nth-child(13), tr:nth-child(15){
    background-color: rgba(1, 161, 193, 0.452)
}